body {
    display: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    position: relative;
    z-index: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

h1 {
    font-weight: 400;
}

nav {
    position: absolute;
    right: 0;
    top: 34px;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 30px;
    font-size: 24px;
}

#mobile-nav-btn,
#close-nav-btn {
    display: none;
}

a,
span {
    text-decoration: none;
    color: white;
}

a:hover,
span:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

p a,
.main li a,
.modal li a {
    text-decoration: underline;
}

.btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

#wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 20px 0 10px 0;
    border-bottom: 0.5px solid white;
    position: relative;
}

main {
    margin-top: 30px;
}

footer {
    margin-top: 20px;
    padding: 20px 0 10px 0;
    border-top: 0.5px solid white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

:not(.modal) > .flex-container > :not(div:first-of-type) {
    margin-left: 20px;
}

.col.half,
.col.third {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    border-radius: 10px;
}

.half {
    width: 50%;
}

.third {
    width: 33.3%;
}

.box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.box.large h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.box.small h3 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box.large {
    height: 300px;
}

.box.small {
    height: 100px;
}

.overlay {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.modal {
    position: relative;
    overflow: scroll;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;
    border-radius: 10px;
    z-index: 10;
}

.left-chevron,
.right-chevron {
    position: absolute;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    opacity: 0.8;
}
.left-chevron {
    left: 5%;
    margin-left: -40px;
    padding-left: 10px;
}
.right-chevron {
    right: 5%;
    margin-right: -40px;
    padding-right: 10px;
}
.left-chevron-mobile,
.right-chevron-mobile {
    height: 30px;
}

.modal h2,
.modal h3,
.modal h4,
.modal p {
    padding: 0 20px;
}

.modal ul li {
    padding-right: 20px;
}

.modal h3 {
    font-weight: 700;
}

.modal h4 {
    font-weight: 500;
}

.red {
    padding: 10px;
    min-height: 100%;
    background: rgb(200, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(200, 60, 60, 0.8),
        rgba(200, 60, 60, 0.2)
    );
}

.green {
    padding: 10px;
    min-height: 100%;
    background-color: rgba(19, 187, 89, 0.8);
    background: linear-gradient(
        90deg,
        rgba(0, 150, 100, 0.8),
        rgba(0, 150, 100, 0.2)
    );
}

.close {
    position: absolute;
    top: 20px;
    right: 10px;
    height: 32px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.8;
}

.arrow {
    display: none;
}

#risks-btn,
#challenges-btn {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#risks-btn::after,
#challenges-btn::after {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
}

#risks-btn::after {
    content: url("img/warning-triangle.svg");
    bottom: -40px;
    left: -70px;
}

#challenges-btn::after {
    content: url("img/tetris.svg");
    top: 30px;
    left: 20px;
}

/* RESPONSIVENESS */

@media only screen and (min-width: 1500px) {
    .left-chevron {
        left: 50%;
        margin-left: -700px;
    }

    .right-chevron {
        right: 50%;
        margin-right: -700px;
    }
}

@media only screen and (min-width: 1200px) {
    .modal {
        max-width: 1000px;
        top: 10%;
        left: 50%;
        margin-left: -500px;
    }
}

@media only screen and (max-width: 600px) {
    .half,
    .third {
        width: 100%;
    }

    :not(.modal) > .flex-container > :not(div:first-of-type) {
        margin-left: 0;
    }

    .flex-container {
        display: block;
    }

    .modal {
        width: 100%;
        max-height: 100%;
        height: calc(100% - 50px);
        top: 0;
        left: 0;
        border-radius: 0;
    }

    #mobile-arrows {
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .arrow {
        display: block;
        text-align: center;
        background-color: black;
        color: white;
        width: 50%;
        padding: 10px;
        cursor: pointer;
    }

    .left-chevron,
    .right-chevron {
        display: none;
    }

    .red,
    .green {
        padding: 10px 0;
    }

    .col.half,
    .col.third {
        padding: 5px 0 5px 0;
        margin: 10px 0;
    }

    .col h2 {
        padding-left: 10px;
    }

    #mobile-nav-btn,
    #close-nav-btn {
        position: absolute;
        display: inline;
        right: 10px;
        top: 42px;
        height: 40px;
        cursor: pointer;
    }

    #close-nav-btn {
        display: none;
    }

    nav {
        display: none;
        position: fixed;
        height: calc(100% - 124px);
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.5)
        );
        top: 124px;
        z-index: 100;
        border: 0.5px solid white;
    }

    nav ul li {
        list-style: none;
        display: block;
        margin-left: 0;
        font-size: 24px;
        line-height: 50px;
    }

    .box {
        width: calc(100% - 20px);
        margin-left: 10px;
    }
}

@media only screen and (min-width: 601px) {
    nav {
        display: block !important;
    }

    #mobile-nav-btn,
    #close-nav-btn {
        display: none !important;
    }
}
